/* SECTION TOP BAR */
.top-bar {
    padding: 1rem 0;
    background-color: deeppink;
}

/* SOCIALS LIST */
.top-bar__social-list{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.top-bar__social-list > li{
    margin-right: 2.2rem;
}
.top-bar__social-list > li > a {
    color: white;
}

/* LINKS */
.top-bar__links{}
.top-bar__links > a ,
.top-bar__links > span {
    text-decoration: none;
    color: white;
}
/* ************************ */
/* NAVBAR */
.top-nav{
    display: flex;
    margin-top: 1rem;
}
/* Logo */
.top-nav__logo{
    
}
/* MENU ITEM */
.top-nav__menu {
    display: flex;

    padding: 0;
    margin: 0;
    list-style-type: none;
}
.top-nav__menu > li {
    margin-right: 2rem;
}
.top-nav__menu > li > a {
    text-decoration: none;
}
/* NAV - SEARCH */
.top-nav__search{
    justify-content: flex-end;
}
.top-nav__search > i {
    margin-left: 1rem;
}